
/* /home/sag/express-sendfile/public/css/photo.css */
/* versio 1.b, 20190403                            */

html, body {
      margin: 0 ;
      padding: 0 ;
 }

html {
     background-color: #808080 ;
 }

body {
     font-family: Verdana, Arial, sans-serif ;
     font-size: 18px ;
     color: #0F1110 ;
     background-color: #C0C0C0 ;
     text-align: justify ;
     border: 1px solid black ;
     margin: 10px ;
     padding: 20px ;
 }

H1, H2, H3, H4 {
     text-align: center ;
 }

#id_estat {
     background-color: yellow ;
 }

#id_date {
     background-color: red ;
     color: white ;
 }

#id_photo {
     border: 1px solid blue ;
     background-color: white ;
 }

#id_posa_imatge {
     border: 1px solid red ;
     background-color: #A0A0A0 ;
}

.img_brd {
     border: 1px solid red ;
     padding: 5px ;
     margin-left: 10px ;
     background-color: green ;
 }

.tseqima {
     width: 100% ;
     border: 1px solid white ;
     background-color: #808080 ;
 }

.tseqima td {
     width: 10% ;
     background-color: pink ;
     border: 1px solid green ;
     font-size: 10px ;
     font-family: Verdana ;
 }

